.explicacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
    min-width: 50vw;
    
}

.explicacao ul {
    font-size: 1.5rem;
    margin-left: 2rem;
}

.explicacao ul li{
    padding: 0.7rem;
    font-size: 1.5rem;
}