.form {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;    
}

.form h2 {
    font-size: 2.5rem;
}

.input {
    border: 1px solid #E76F51;
    border-right: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    width: 40vw;
    height: 50px;
    padding: 0 2rem;
    margin: 0;
    font-size: 1.2rem;
}

.botao {
    height: 51px;
    font-size: 1.1rem;
    color: #ffffff;
    border: 1px solid #E76F51;
    background-color: #E76F51;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: none;
    padding: 16px 15px;
    margin: 0;
}

.form p {
    font-size: 0.9rem;
    padding-top: 1rem;
    width: 95%;
}